<div class="row"><h1>Search for Restaurants in Albany</h1></div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Search for a Restaurant</label>
                <input type="text" class="form-control" id="search" placeholder="Enter a restaurant name" [formControl]="searchForm">
            </div>
            <button type="submit" class="btn btn-primary mb-2" (click)="onSubmit()">Search</button>
        </form>
    </div>
    <div class="col"></div>
</div>

<div class="row" *ngIf="restaurants?.length">
    <div class="col">
        <ul class="list-unstyled">
            <li class="media" *ngFor="let rest of restaurants">
                <img class="mr-3" src="{{ rest.photo_url }}">
                <!-- <img alt="" class="mr-3" src="/assets/rest_img.jpg"/> -->
                <div class="media-body">
                    <a [routerLink]="['/restaurant', rest.place_id]"><h4 class="mt-0 mb-1">{{ rest.name }}</h4></a>
                    <h5 class="mt-0 mb-1">{{ rest.address }}</h5>
                    <span *ngIf="rest.price_level">price_level: {{ "$".repeat(rest.price_level) }}<br /></span>
                    <star-rating value="{{ rest.rating }}" checkedcolor="gold" uncheckedcolor="gray" size="24px"    readonly="true"></star-rating> {{ rest.num_ratings }} ratings
                </div>
            </li>
        </ul>
    </div>
</div>
