<div class="row"><h1>Search for Restaurants in Albany</h1></div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">Search for a Restaurant</label>
                <input type="text" class="form-control" id="search" placeholder="Enter a restaurant name" [formControl]="searchForm">
            </div>
            <button type="submit" class="btn btn-primary mb-2" (click)="onSubmit()">Search</button>
        </form>
    </div>
    <div class="col"></div>
</div>
<div class="row" *ngIf="restaurants?.length">
    <div class="col">
    <ul class="list-unstyled">
        <li class="media" *ngFor="let rest of restaurants">
            <img class="mr-3" src="{{ rest.photo_url }}">
            <img src="..." class="mr-3" alt="...">
            <div class="media-body">
                <h4 class="mt-0 mb-1">{{ rest.name }}</h4>
                price_level: {{ rest.price_level }}<br />
                <star-rating value="{{ rest.rating }}" checkedcolor="gold" uncheckedcolor="gray" size="24px"    readonly="true"></star-rating>
            </div>
        </li>
    </ul>
    </div>
</div>


